
ul{
    list-style-type: block;
    list-style-position: outside;
    list-style-type: none;
    line-height: 30px;
    font-size: 15px;
}
a{
    margin-left: 10px;
}
.tab__bar{
    overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
    
}
.tabs__bar button:hover{
    background-color:tomato;
    color: blue;
}
button{
    padding: 10px 30px;
}